@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: Calibri, Arial, sans-serif;
    color: #fff;
    background: #333;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #000;
}
header {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    text-align:center;
    font-size:4em;
}

.container {
    margin-top:2em;
    text-align:center;
}

.container p {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    font-size:4em;
}



@media screen and (max-width: 73.375em) {

}

@media screen and (max-height: 30.25em) {

}